* {
   margin: 0;
   padding: 0;
   background-color: gold;
   color: blue;
}

body {
   font-family: Nanum Gothic;
   font-weight: 800;
   font-size: 100px;
}



h1 {
   font-size: 80px;
   margin-bottom: 20px;
}

.time {
   margin-top: 10vw;
   text-align: center;
}